<div class="bgded overlay padtop" style="background-image:url('assets/images/dia-de-la-tierra.jpg');"> 
    <app-header/>
    <div id="pageintro" class="hoc clear"> 
        <article>
            <h3 class="heading">BlueEarth</h3>
            <p>Un estilo de vida sustentable</p>
            <footer>
            <ul class="nospace inline pushright">
                <li><a class="btn inverse" href="#">Explorar</a></li>
                <li><a class="btn inverse" href="#">Blog</a></li>
            </ul>
            </footer>
        </article>
    </div>
</div>